/*

CONTENTS:

1. RESET CODE

0. BASE

0. FACTS

0. FONT 1

0. FONT 2

0. SEARCH

0. MEDIA QUERIES

*/

/*############################################################################*/
/* - v - RESET CODE - v - */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* - ^ - RESET CODE - ^ - */
/*############################################################################*/
/* - v - BASE - v - */

nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "neurodiversity-infinity-sym" "nav1" "nav2" "nav3" "nav4" "nav5";
    margin: auto;
    background-color: rgb(255, 255, 255);
}

nav button {
    height: 3rem;
    width: 6rem;
    margin: auto;
    border-style: ridge;
    border-width: 0.2rem;
    border-radius: 1rem;
}

nav button:hover {
    color: aliceblue;
    background-color: #292929;
}

nav .nav-button {
    height: 3rem;
    width: 6rem;
    margin: auto;
}

.nav-button-selected {
    border-color: #db0000;
    border-style:groove;
    background-color: #202020;
    color: aliceblue;
}

nav #neurodiversity-infinity-sym {
    height: 8rem;
    width: 8rem;
    margin: auto;
}

nav img {
    height: 8rem;
    width: 8rem;
    margin: auto;
}

body {
    margin: auto;
    background-color: #292929;
}

.page-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.page-body {
    display: flex;
    flex-direction: column;
    
    margin-left: 2rem;
    margin-right: 2rem;
}

.page-video {
    margin-left: auto;
    margin-right: auto;
}

a, button {
    cursor: pointer;
}

/* - ^ - BASE - ^ - */
/*############################################################################*/
/* - v - FACTS - v - */

.ableism-facts {
    margin-left: 2rem;
    margin-right: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "fact1" "fact2" "fact3" "fact4" "fact5" "fact6";
}

.ableism-fact-frame {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    height: 15rem;
    width: 15rem;
}

.ableism-facts img {
    height: 15rem;
    width: 15rem;
}

/* - ^ - FACTS - ^ - */
/*############################################################################*/
/* - v - FONT 1 - v - */

.inline-regular {
    display: inline;
}

.outline-italic {
    font-style: italic;
}

.inline-italic {
    display: inline;
    font-style: italic;
}

.outline-bold {
    font-style: bold;
}

.inline-bold {
    display: inline;
    font-style: bold;
}

.inline-underline {
    display: inline;
    text-decoration: underline;
}

.outline-underline {
    text-decoration: underline;
}

/* - ^ - FONT 1 - ^ - */
/*############################################################################*/
/* - v - FONT 2 - v - */

h1, h2, h3, h4, p, li {
    color: aliceblue;
}

a {
    color: aqua;
}

li {
    margin-top: 1rem;
    margin-left: 2rem;
}

/* - ^ - FONT 2 - ^ - */
/*############################################################################*/
/* - v - SEARCH - v - */

.letter-search-a-z {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.a-z-search {
    margin: 0.5rem;
}

.search-letter {
    justify-content: center;
    border-bottom: 0.2rem solid aliceblue;
}

/* - ^ - SEARCH - ^ - */
/*############################################################################*/
/* - v - MEDIA QUERIES - v - */

@media (max-width:850px) {
    iframe {
        width: 50%;
        height: auto;
    }
}

@media (min-width:850px) {
    .ableism-facts {
        margin-left: 2rem;
        margin-right: 2rem;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "fact1" "fact2" "fact3" "fact4" "fact5" "fact6";
    }
}

@media (min-width:1100px) {
    .page-body {
        margin-left: 20em;
        margin-right: 20em;
    }
    .ableism-facts {
        margin-left: 2rem;
        margin-right: 2rem;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "fact1" "fact2" "fact3" "fact4" "fact5" "fact6";
    }
    nav {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "neurodiversity-infinity-sym nav1 nav2 nav3 nav4 nav5";
        margin: auto;
        background-color: rgb(255, 255, 255);
    }   
    nav button {
        height: 5rem;
        width: 8rem;
        margin: auto;
        border-style: ridge;
        border-width: 0.2rem;
        border-radius: 1rem;
    }
    nav .nav-button {
        height: 5rem;
        width: 8rem;
        margin: auto;
    }
}

/* - ^ - MEDIA QUERIES - ^ - */
/*############################################################################*/